<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/cadastro-produto.css}" rel="stylesheet"/>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <title>Cadastrar Produto</title>
</head>
<body>
    <header>
        <div class="container-fluid topo">
            <div class="row">
                    <div class="col-12">
                        <div class="img-logo">
                            <img id="logo" name="logo" src="/imagens/logo.png" alt="Logo da empresa"/>
                        </div>
                    </div>
            </div>
        </div>
    </header>
    <nav>
        <div class="container meio">
            <div class="row">
                <div class="col-12">
                    <div class="row g-2">
                        <div class="col-6 nav_col">
                            <div class="navbar">
                                <div class="menu_itens">
                                    <a th:href="@{/listagem-produtos}" id="produtos" alt="Produtos">
                                        <img id="produto_icon" src="/imagens/produto.png" alt="Ícone de produtos"/>
                                        <span class="descricao_item">Produtos</span>
                                    </a>
                                    <a th:href="@{/listagem-categorias}" id="categorias" alt="Categorias">
                                        <img id="categoria_icon" src="/imagens/categoria.png" alt="Ícone de categorias"/>
                                        <span class="descricao_item">Categorias</span>
                                    </a>
                                    <a th:href="@{/listagem-usuarios}" id="usuarios" alt="Usuários">
                                        <img id="usuarios_icon" src="/imagens/usuarios.png" alt="Ícone de usuários"/>
                                        <span class="descricao_item">Usuários</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 nav_col">
                            <div class="usuario">
                                <img id="usuario_icon" src="/imagens/usuario.png" alt="Ícone de usuário"/><br>
                                <span id ="usuario_nome" title="Nome">nome@nwest.com</span><br>
                                <span id="usuario_cargo" title="Cargo">Cargo</span>
                            </div>
                        </div>
                        <div class="col-3 nav_col">
                            <div class="sair">
                                <a href="#" id="logout" alt="Logout">
                                    <img id="logout" src="/imagens/logout.png" alt="Ícone de logout"/>
                                    <span class="descricao_item">Logout</span>
                                </a>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="infoCadastro">
                        <h1 id="titulo_cadastro">Cadastro de Produto</h1>
                        <form th:action="@{/salvar-produto}" id="formulario" method="POST" th:object="${produto}">
                            <div class="form-group">
                                <label for="nome">Nome: </label>
                                <input id="nome" name="nome" type="text" class="form-control" th:field="${produto.nome}" required/>
                            </div>
                            <div class="form-group">
                                <label for="categoria">Categoria: </label>
                                <select id="categoria" name="categoria" class="form-control">
                                    <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.id} + ' - ' + ${categoria.nome}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="quantidade">Quantidade: </label>
                                <input id="quantidade" name="quantidade" type="number" class="form-control" th:field="${produto.quantidade}" required/>
                            </div>
                            <div class="form-group">
                                <label for="preco">Preço: </label>
                                <input id="preco" name="preco" type="text" class="form-control" th:field="${produto.preco}" required/>
                            </div>
                            <div class="form-group">
                                <label for="descricao">Descrição: </label>
                                <textarea id="descricao" name="descricao" class="form-control" required th:field="${produto.descricao}"></textarea>
                            </div>
                            <div class="form-group text-center">
                                <input id="btnEnviar" name="btnEnviar" type="submit" class="btn btn-primary" value="Enviar"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container-fluid inferior">
            <div class="row inf">
                <div class="col-12">
                    <p>© 2024 New West Company. Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>