<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/cadastro-usuario.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <title>Cadastrar Usuário</title>
</head>
<body>
    <header>
        <div class="container-fluid topo">
            <div class="row">
                    <div class="col-12">
                        <div class="img-logo">
                            <img id="logo" name="logo" src="../static/imagens/logo.png" alt="Logo da empresa"/>
                        </div>
                    </div>
            </div>
        </div>
    </header>
    <nav>
        <div class="container meio">
            <div class="row">
                <div class="col-12">
                    <div class="row g-2">
                        <div class="col-6 nav_col">
                            <div class="navbar">
                                <div class="menu_itens">
                                    <a href="#" id="produtos" alt="Produtos">
                                        <img id="produto_icon" src="../static/imagens/produto.png" alt="Ícone de produtos"/>
                                        <span class="descricao_item">Produtos</span>
                                    </a>
                                    <a href="#" id="categorias" alt="Categorias">
                                        <img id="categoria_icon" src="../static/imagens/categoria.png" alt="Ícone de categorias"/>
                                        <span class="descricao_item">Categorias</span>
                                    </a>
                                    <a href="#" id="usuarios" alt="Usuários">
                                        <img id="usuarios_icon" src="../static/imagens/usuarios.png" alt="Ícone de usuários"/>
                                        <span class="descricao_item">Usuários</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 nav_col">
                            <div class="usuario">
                                <img id="usuario_icon" src="../static/imagens/usuario.png" alt="Ícone de usuário"/><br>
                                <span id ="usuario_nome" title="Nome">nome@nwest.com</span><br>
                                <span id="usuario_cargo" title="Cargo">Cargo</span>
                            </div>
                        </div>
                        <div class="col-3 nav_col">
                            <div class="sair">
                                <a href="#" id="logout" alt="Logout">
                                    <img id="logout" src="../static/imagens/logout.png" alt="Ícone de logout"/>
                                    <span class="descricao_item">Logout</span>
                                </a>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="infoCadastro">
                        <h1 id="titulo_cadastro">Cadastro de Usuário</h1>
                        <form action="#" id="formulario" method="POST">
                            <div class="form-group">
                                <label for="login">Login: </label>
                                <input id="login" name="login" type="email" class="form-control" required/>
                            </div>
                            <div class="form-group">
                                <label for="senha">Senha: </label>
                                <input id="senha" name="senha" type="password" class="form-control" required/>
                            </div>
                            <div class="form-group">
                                <label for="permissao">Cargo: </label>
                                <select id="permissao" name="permissao" class="form-control" required>
                                    <option value="ESTOQUISTA">Estoquista</option>
                                    <option value="GERENTE">Gerente</option>
                                    <option value="COMPRADOR">Comprador</option>
                                    <option value="VENDEDOR">Vendedor</option>
                                </select>
                            </div>
                            <div class="form-group text-center">
                                <input id="btnEnviar" name="btnEnviar" type="submit" class="btn btn-primary" value="Enviar"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container-fluid inferior">
            <div class="row inf">
                <div class="col-12">
                    <p>© 2024 New West Company. Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>