<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/listagem-categorias.css}" rel="stylesheet"/>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <title>Listagem de Categorias</title>
</head>
<body>
    <header>
        <div class="container-fluid topo">
            <div class="row">
                    <div class="col-12">
                        <div class="img-logo">
                            <img id="logo" name="logo" th:src="@{/imagens/logo.png}" alt="Logo da empresa"/>
                        </div>
                    </div>
            </div>
        </div>
    </header>
    <nav>
        <div class="container meio">
            <div class="row">
                <div class="col-12">
                    <div class="row g-2">
                        <div class="col-6 nav_col">
                            <div class="navbar">
                                <div class="menu_itens">
                                    <a href="#" id="produtos" alt="Produtos">
                                        <img id="produto_icon" th:src="@{/imagens/produto.png}" alt="Ícone de produtos"/>
                                        <span class="descricao_item">Produtos</span>
                                    </a>
                                    <a href="#" id="categorias" alt="Categorias">
                                        <img id="categoria_icon" th:src="@{/imagens/categoria.png}" alt="Ícone de categorias"/>
                                        <span class="descricao_item">Categorias</span>
                                    </a>
                                    <a href="#" id="usuarios" alt="Usuários">
                                        <img id="usuarios_icon" th:src="@{/imagens/usuarios.png}" alt="Ícone de usuários"/>
                                        <span class="descricao_item">Usuários</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 nav_col">
                            <div class="usuario">
                                <img id="usuario_icon" th:src="@{/imagens/usuario.png}" alt="Ícone de usuário"/><br>
                                <span id ="usuario_nome" title="Nome">nome@nwest.com</span><br>
                                <span id="usuario_cargo" title="Cargo">Cargo</span>
                            </div>
                        </div>
                        <div class="col-3 nav_col">
                            <div class="sair">
                                <a href="#" id="logout" alt="Logout">
                                    <img id="logout" th:src="@{/imagens/logout.png}" alt="Ícone de logout"/>
                                    <span class="descricao_item">Logout</span>
                                </a>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="botoes">
                        <a id="btnCadastrar" href="#">Nova</a>
                    </div>
                    <h1 id="titulo_listagem">Lista de Categorias</h1>
                    <form id="formulario" action="#" method="POST">
                        <div class="form-group">
                            <label for="nomePesquisa">Pesquisar por nome: </label>
                            <input id="nomePesquisa" name= "nomePesquisa" type="text" class="form-control"/>
                        </div>
                        <div class="form-group botoes">
                            <input id="btnEnviar" name="btnEnviar" type="submit" class="btn btn-primary" value="Pesquisar">
                        </div>
                    </form>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-dark text-white" th:each="categoria : ${categorias}">
                            <ul>
                                <li class="list-group-item bg-dark text-white">
                                    <strong>ID: </strong> <span th:text="${categoria.id}"></span>
                                </li>
                                <li class="list-group-item bg-dark text-white">
                                    <strong>Nome: </strong> <span th:text="${categoria.nome}"></span>
                                </li>
                            </ul>
                            <div class="botoes">
                                <a id="btnAtualizar" th:href="@{/atualizar-categoria/{id}(id=${categoria.id})}">Atualizar</a>
                                <a id="btnDeletar" th:href="@{/deletar-categoria/{id}(id=${categoria.id})}" class="btn btn-danger" 
                                onclick="return confirm('Deseja realmente excluir esta categoria?');">Deletar</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container-fluid inferior">
            <div class="row">
                <div class="col-12">
                    <p>© 2024 New West Company. Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>